// Font
$mainFont                : 'Roboto', sans-serif;

// Size
$mainFontColor           : #0a0a0a;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1;
